body{
    background: linear-gradient(to right top,#D91B23,#124FEB);
}
.container {
    height: fit-content;
    min-height: 100vh;
    width: 100%;
}

.search {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}


::placeholder {
    color: #020000;
    opacity: 1;
}

.search-2 {
    position: relative;
    width: 100%;
}

.search-2 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 18px;
    padding-right: 100px;
}

.search-2 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
}

.search-2 i {
    position: absolute;
    top: 12px;
    left: -10px;
    font-size: 24px;
    color: #eee;
}

.search-2 button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 45px;
    background-color: red;
    color: #fff;
    width: 90px;
    border-radius: 4px;

}

.search-results{
    background-color: white;
    width: 100%;
    min-height: 100vh;
    border-radius: 5px;
    padding: 30px;
}

.text-overlay{
    display:none;
}
.card:hover .text-overlay{
    display:inline;
}

.card:hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}
.col-md-4{
    padding:0;
}
button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2em;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

@media (max-width:800px) {


    .search-2 i {
        left: 4px;
    }
    .search-2 input {
        padding-left: 34px;
    }

    .search-2 button {
        height: 37px;
        top: 5px;
    }

    .search .row .search-2 {
        border:1px solid gray;
        border-radius: 3px;
    }

    .scroll-to-top {
        position: fixed;
        bottom: 35px;
        right: 35px;
        z-index: 999;
    }
}
